@{
    Page.Title = "Webbbbbb";
    Layout = "Layout.cshtml";
}

<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title></title>
    </head>
    <body>
        <div>
            <h1>Titulo1</h1>
            <h2>Titulo2</h2>
            <p>Parrafo</p>
            <img src="https://www.rowsdowr.com/wp-content/uploads/2012/10/homers-web-page.gif" alt="Imagen" />
            <ol>
                <li>Primer Item</li>
                <li>Segundo Item</li>
            </ol>
            <ul>
                <li>Un Item</li>
                <li>Otro Item</li>
            </ul>
        </div>
    </body>
</html>