<!DOCTYPE html>
<html>
    <head>
        <title>@Page.Title</title>
        <link href="~/StyleSheet.css" rel="stylesheet" />
        @RenderSection("head", required: false)
       
    </head>
    <body>
        <a href="http://www.google.com">Google</a>
        <a href="~/Index.cshtml">Inicio</a>
        @RenderBody()
    </body>
</html>
